<div class="item">
    <div class="products-grid product">
        <div class="product-block grid" data-product-id="632">
            <div class="grid-inner">
                <div class="block-title">
                    <div class="product-cats">
                        <a href="https://demoapus.com/yozi/yozi5/product-category/accessories/">Accessories</a>
                    </div>
                    <h3 class="name"><a
                            href="https://demoapus.com/yozi/yozi5/product/bandana-mineral-babe-necklace-abby-necklace/">Bandana
                            Mineral Babe
                            Necklace- Abby
                            Necklace</a></h3>
                </div>
                <div class="block-inner">
                    <div class="quick-view">
                        <a href="#" class="quickview btn btn-dark btn-block radius-3x" data-product_id="632"
                            data-toggle="modal" data-target="#apus-quickview-modal">
                            Quick View </a>
                    </div>
                </div>
                <div class="metas clearfix">
                    <span class="price"><span class="woocs_price_code" data-product-id="632"><span
                                class="woocommerce-Price-amount amount"><span
                                    class="woocommerce-Price-currencySymbol">&#36;</span>50.00</span></span></span>
                    <div class="rating clearfix">
                    </div>
                </div>
            </div>
            <div class="groups-button clearfix">
                <div class="yith-compare">
                    <a title="compare"
                        href="https://demoapus.com/yozi/yozi5?action=yith-woocompare-add-product&#038;id=632"
                        class="compare " data-product_id="632">
                        <i class="ti-control-shuffle"></i>
                    </a>
                </div>
                <div class="add-cart"><a href="/yozi/yozi5/?add-to-cart=632" data-quantity="1"
                        class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="632"
                        data-product_sku
                        aria-label="Add &ldquo;Bandana Mineral Babe Necklace- Abby Necklace&rdquo; to your cart"
                        rel="nofollow">Add to
                        cart</a></div>
                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-632">
                    <div class="yith-wcwl-add-button show" style="display:block">
                        <a href="/yozi/yozi5/?add_to_wishlist=632" rel="nofollow" data-product-id="632"
                            data-product-type="simple" class="add_to_wishlist">
                            <i class="ti-heart"></i><span class="sub-title">Add
                                to
                                Wishlist</span></a>
                        <img src="images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16"
                            style="visibility:hidden">
                    </div>
                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                        <span class="feedback">Product
                            added!</span>
                        <a href="https://demoapus.com/yozi/yozi5/wishlist/" rel="nofollow">
                            <i class="ti-heart"></i><span class="sub-title">Wishlisted</span>
                        </a>
                    </div>
                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                        <span class="feedback">The
                            product is already
                            in the
                            wishlist!</span>
                        <a href="https://demoapus.com/yozi/yozi5/wishlist/" rel="nofollow">
                            <i class="ti-heart"></i><span class="sub-title">Wishlisted</span>
                        </a>
                    </div>
                    <div style="clear:both">
                    </div>
                    <div class="yith-wcwl-wishlistaddresponse">
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>