{% extends 'exts.html' %}
{% load static %}
{% block body %}
<section class="ftco-section">
	<div class="container">
		{% comment %} <div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-12 heading-section ftco-animate text-center">
				<h2 class="mb-1">Experience of Yoga</h2>
			</div>
		</div> {% endcomment %}
		<div class="row">
			<div class="col-md-3 ftco-animate">
				<a href="{% static 'images/gallery-1.jpg' %}" class="gallery image-popup img d-flex align-items-center"
					style="background-image: url({% static 'images/gallery-1.jpg' %});">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="fa fa-camera-retro fa-lg"></span>
					</div>
				</a>
				<a href="{% static 'images/gallery-2.jpg' %}" class="gallery image-popup img d-flex align-items-center"
					style="background-image: url({% static 'images/gallery-2.jpg' %});">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="fa fa-camera-retro fa-lg"></span>
					</div>
				</a>
			</div>

			<div class="col-md-3 ftco-animate">
				<a href="{% static 'images/gallery-3.jpg' %}" class="gallery image-popup img d-flex align-items-center"
					style="background-image: url({% static 'images/gallery-3.jpg' %});">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="fa fa-camera-retro fa-lg"></span>
					</div>
				</a>
				<a href="{% static 'images/gallery-4.jpg' %}" class="gallery image-popup img d-flex align-items-center"
					style="background-image: url({% static 'images/gallery-4.jpg' %});">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="fa fa-camera-retro fa-lg"></span>
					</div>
				</a>
			</div>

			<div class="col-md-6">
				<div class="services-2 ftco-animate d-flex w-100">

					<div class="text text-left pl-4">
						<h4>Product: </h4>
						<hr>
						<p> Product Name : Name </p>
						<p> Product Price : MRP</p>
						<p> Product Price : Price</p>

					</div>
				</div>

				<div class="services-2 ftco-animate d-flex w-100">

					<div class="text text-left pl-4">
						<h4>Description: </h4>
						<hr>
						<p> Product Description Short </p>
					</div>
				</div>
				<div class="services-2 ftco-animate d-flex w-100">

					<div class="text text-left pl-4">
						<h4> Product Description in Detail: </h4>
						<hr>
						<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
						</p>
					</div>
				</div>
				{% comment %} <div class="services-2 ftco-animate d-flex w-100">

					<div class="text text-left pl-4">
						<h3>Builds muscle strength</h3>
						<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
						</p>
					</div>
				</div> {% endcomment %}
			</div>
		</div>
	</div>
</section>
<hr>

<section class="ftco-section testimony-section">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md-10 heading-section ftco-animate text-left">
				<h2 class="mb-0 heading-section ftco-animate"> Information </h3>
					<h3 class="subheading">Technical Details</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8">
				<table class="table">
					<tbody>
						<tr>
							<td> # </td>
							<td> Left part 1</td>
							<td> Right part 1</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</section>
<hr>
{% comment 'Comments section component' %}
{% endcomment %}
<section class="ftco-section testimony-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-10 heading-section ftco-animate text-center">
				<h2 class="mb-1">Successful Stories</h2>
				<h3 class="subheading">Customer reviews speaks..</h3>
			</div>
		</div>
		<div class="row ftco-animate">
			<div class="col-md-12">
				<div class="carousel-testimony owl-carousel">
					<div class="item">
						<div class="testimony-wrap p-4 pb-5">
							<div class="text">
								<div class="line">
									<p class="mb-4 pb-1">Far far away, behind the word mountains, far from the countries
										Vokalia and Consonantia, there live the blind texts.</p>
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>
								<div class="d-flex align-items-center">
									<div class="user-img"
										style="background-image: url({% static 'images/person_1.jpg' %})">
									</div>
									<div class="ml-4">
										<p class="name">Gabby Smith</p>
										<span class="position">Customer</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap p-4 pb-5">
							<div class="text">
								<div class="line">
									<p class="mb-4 pb-1">Far far away, behind the word mountains, far from the countries
										Vokalia and Consonantia, there live the blind texts.</p>
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>

								<div class="d-flex align-items-center">
									<div class="user-img"
										style="background-image: url({% static 'images/person_2.jpg' %})">
									</div>
									<div class="ml-4">
										<p class="name">Floyd Weather</p>
										<span class="position">Customer</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap p-4 pb-5">
							<div class="text">
								<div class="line">
									<p class="mb-4 pb-1">Far far away, behind the word mountains, far from the countries
										Vokalia and Consonantia, there live the blind texts.</p>
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>

								<div class="d-flex align-items-center">
									<div class="user-img"
										style="background-image: url({% static 'images/person_3.jpg' %})">
									</div>
									<div class="ml-4">
										<p class="name">James Dee</p>
										<span class="position">Customer</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap p-4 pb-5">
							<div class="text">
								<div class="line">
									<p class="mb-4 pb-1">Far far away, behind the word mountains, far from the countries
										Vokalia and Consonantia, there live the blind texts.</p>
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>

								<div class="d-flex align-items-center">
									<div class="user-img"
										style="background-image: url({% static 'images/person_4.jpg' %})">
									</div>
									<div class="ml-4">
										<p class="name">Lance Roger</p>
										<span class="position">Customer</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap p-4 pb-5">
							<div class="text">
								<div class="line">
									<p class="mb-4 pb-1">Far far away, behind the word mountains, far from the countries
										Vokalia and Consonantia, there live the blind texts.</p>
									<span class="quote d-flex align-items-center justify-content-center">
										<i class="icon-quote-left"></i>
									</span>
								</div>

								<div class="d-flex align-items-center">
									<div class="user-img"
										style="background-image: url({% static 'images/person_2.jpg' %})">
									</div>
									<div class="ml-4">
										<p class="name">Kenny Bufer</p>
										<span class="position">Customer</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock body %}